/* THE MOBILE FIRST SOLUTION */
/* Under the 700px */

/********************/
/* Global Style */
/********************/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  /* To center the content */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

a {
  /* The Display */
  display: inline-block;
}

.container {
  width: 91.466666667%;
  margin: 0 auto;
}

/********************/
/* Component Style */
/********************/

/* The header area */
/**********************/

.header {
  /* The Initial Value */
  max-width: 375px;
  /* The Box Model */
  padding-top: 16px;
  margin-bottom: calc(66px);
}

.navigation {
  /* The Box Model */
  margin-bottom: 38px;
}

.navigation-list {
  /* The Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* The Misc */
  list-style-type: none;
}

.navigation__list-item {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #13183f;
  text-decoration: none;
}

.navigation__btn:link,
.navigation__btn:visited {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  /* The Background */
  color: #ffffff;
  background: #13183f;
  border-radius: 28px;
  padding: 9px 24px 11px;
  /* The Animation */
  transition: all 0.3s;
}

.navigation__btn:hover,
.navigation__btn:active {
  background: #666ca3;
}

/* The hero area */
/**********************/

.section-hero {
  /* The Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(46px);
}

.section-hero__title {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #13183f;
  /* The Box Model */
  padding-bottom: 1px;
  margin-bottom: 26px;
}

.section-hero__description {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  /* The Box Model */
  margin-bottom: calc(24px);
}

.space::before {
  content: "\A";
  white-space: pre;
}

.section-hero__btn:link,
.section-hero__btn:visited {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  /* The Background */
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  padding: 15px 37px 15px 38px;
  /* The Animation */
  transition: all 0.3s;
}

.section-hero__btn:hover,
.section-hero__btn:active {
  /* The Background */
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.section-hero__img-area {
  /* The Display */
  width: 100%;
  /* The Box Model */
  margin-right: 8px;
  margin-left: 8px;
}

.section-hero__img {
  /* The Display */
  display: block;
  max-width: 100%;
}

/* The cards area */
/**********************/

.section-cards {
  /* The Initial Value */
  max-width: 375px;
  /* The Box Model */
  padding-bottom: calc(80px);
  /* The Background */
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.section-cards-flex {
  /* The Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}

.card-item-primary__title {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  /* The Background */
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
  padding: 24px 29px 32px 28px;
}

/* The iteration area */
/**********************/

.card-item {
  /* The Background */
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  /* The Box Model */
  padding: 0 29px calc(29px + 0.224px) 28px;
}

.card-item__icon {
  /* The Positioning */
  transform: translate(0, calc(-50% + 8%));
}

.card-item__title {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
  /* The Box Model */
  margin-top: -2px;
  margin-bottom: 16px;
}

.card-item__description {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  /* The Box Model */
  margin-bottom: 24px;
}

.card-item__link:link,
.card-item__link:visited {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  text-decoration: none;
  /* The Animation */
  transition: all 0.3s;
}

.card-item__link:hover,
.card-item__link:active {
  color: #ffa7c3;
}

/* The footer area */
/**********************/

.footer {
  /* The Initial Value */
  max-width: 375px;
  /* The Box Model */
  padding: 36px 0;
  /* The Background */
  background: #13183f;
}

.footer-navigation-list {
  list-style-type: none;

  /* The Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation__list-item {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  text-decoration: none;
}

.footer-navigation__btn:link,
.footer-navigation__btn:visited {
  /* The Typography */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  /* The Background */
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  padding: 9px 24px 11px;
  /* The Animation */
  transition: all 0.3s;
}

.footer-navigation__btn:hover,
.footer-navigation__btn:active {
  /* The Background */
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

/* The unused classes */
/*************************/

/* .btn {} */
/* .footer-navigation {} */
/* .card-item-primary {} */
/* .section-hero__content-area {} */
